{% extends 'partials/base.html' %}
{% block head_title %}Error{% endblock %}
{% block body_content %}
<div class="row-fluid">
	<div class="span3 zerofy-span-height">&nbsp;</div>
	<div class="span6">
		<br>
		<div>
			<br>
			<h1><i class="icon-exclamation-sign"></i> Error</h1>
			<hr>
			<h2>Something went wrong. No need to panic! It is not your fault.</h2>
			<hr>
			<p>You can head over to the <a href="{{ SITEURL }}">homepage</a> and find your way to where you want to go. [;)].</p>
		</div>
	</div>
	<div class="span3 zerofy-span-height">&nbsp;</div>
</div>
{% endblock %}